<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDXW9haUcaTq-Xa6L6_yrk7IpMaY1AeYbg</string>
	<key>GCM_SENDER_ID</key>
	<string>582674881640</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.changamuka.pharmacy</string>
	<key>PROJECT_ID</key>
	<string>count2infinity-2810c</string>
	<key>STORAGE_BUCKET</key>
	<string>count2infinity-2810c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:582674881640:ios:d6113e0a92416edf092fdd</string>
</dict>
</plist>